# Шаг 1. Импортируйте необходимые библиотеки

In [1]:
import pandas as pd

# Шаг 2. Импортируйте набор данных с этого [адреса](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [7]:
link = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
df =pd.read_csv(link)

# Шаг 3. Сохраните его в переменной с именем baby_names.

In [8]:
baby_names=df

# Шаг 4. Выведите первые 10 строк

In [10]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

# Шаг 5.  Удалить столбцы 'Unnamed: 0' и 'Id'.

In [11]:
baby_names= baby_names.drop(['Unnamed: 0', 'Id'], axis = 1)

# Шаг 6. В наборе данных больше женских или мужских имен?

In [17]:
baby_names.groupby(["Gender"]).size() #больше  женских имён

Gender
F    558846
M    457549
dtype: int64

# Шаг 7.  Какое имя встречается чаще всего?

In [20]:
baby_names['Name'].value_counts() #Riley - самое распространённое имя

Riley       1112
Avery       1080
Jordan      1073
Peyton      1064
Hayden      1049
            ...
Asheley        1
Mathayus       1
Apolo          1
Riddhima       1
Sonoma         1
Name: Name, Length: 17632, dtype: int64

# Шаг 8.  Сколько разных имен есть в наборе данных?

In [21]:
len(baby_names['Name'].value_counts()) #17632

17632